.form {
  .button {
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: $font1;
    margin: 5px 5px;
    &:hover {
      transform: scale(1.1);
    }
  }
  &-header {
    font-family: $font1;
    text-align: center;
    font-size: 25px;
  }
  .buttons {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    input {
      visibility: hidden;
    }

    #all:checked + label,
    #all-part:checked + label {
      @include checkRadio(black);
    }

    #recreating:checked + label {
      @include checkRadio(purple);

    }
    #education:checked + label {
      @include checkRadio(gray);
    }
    #relaxation:checked + label {
      @include checkRadio(green);
    }
    #social:checked + label {
      @include checkRadio(deeppink);
    }
    #charity:checked + label {
      @include checkRadio(white);
    }
    #busywork:checked + label {
      @include checkRadio(red);
    }
    #cooking:checked + label {
      @include checkRadio(orange);
    }

    [name="participants"]:checked + label {
      @include checkRadio(dodgerblue);
    }



  }
  &-type {
    margin: 20px auto;

  }
}

