.header {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  h1 {
    display: inline-block;
    font-size: 60px;
    position: relative;
    img {
      position: absolute;
      top: 0;
      margin: 10px;
      width: 60px;
      height: 60px;
    }
  }
}
